@use "mixin" as*;

#availability {
    max-width: 1120px;
    margin-inline: auto;

    .section-title {
        @include section-title;
    }

    .availability-container {
        display: flex;
        justify-content: space-between;
        padding-inline: 3rem;

        .booking-calendar {
            width: 50%;
        }

        .busy-list {
            font-size: 2rem;
            text-align: center;
            width: 50%;

            .title {
                border-bottom: 1px solid black;
                padding-bottom: 0.5%;
                display: inline-block;
                margin-bottom: 3%;
            }

            dl {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 1rem;

                dt {
                    width: 60%;
                }

                dd {
                    width: 40%;
                    border-radius: 10px;
                    padding-block: 0.5rem;

                    &:nth-of-type(1),
                    &:nth-of-type(4) {
                        background-color: #76C1FF;
                    }


                    &:nth-of-type(2),
                    &:nth-of-type(3) {
                        background-color: #FF5656;
                    }
                }

                dt,
                dd {
                    margin-block: 1rem;
                }
            }

            .cta-instagram {
                @include cta;
            }
        }
    }

    @include sp {
        .availability-container {
            flex-direction: column;
            justify-content: center;

            .booking-calendar {
                width: 100%;
                text-align: center;
                height: 300px;
            }

            .busy-list{
                width: 100%;

                dl{
                    dt ,dd{
                        width: 50%;
                    }
                }
            }

        }
    }
}