@use "mixin" as*;

#concept {
    background: url(../img/背景画像.png) repeat-x center / contain;
    background-size: auto 100%;

    .wrapper {
        .section-title {
            @include section-title;
            padding-top: 3rem;
        }

        .concept-top,
        .concept-middle,
        .concept-bottom {
            display: flex;

            .title {
                font-weight: bold;
                font-size: 2rem;
            }

            .lead {
                font-size: 1.5rem;
            }
        }

        .concept-top {
            position: relative;

            .concept-img1 {
                @include concept-img;
                border-radius: 0 20px 20px 0;
                z-index: 5;
            }

            .line1 {
                position: absolute;
                width: 40%;
                top: 0;
                right: 0;
            }

            .line2 {
                position: absolute;
                width: 30%;
                top: 3rem;
                right: 0;
            }

            .line1,
            .line2 {
                height: 1rem;
            }

            .title {
                position: absolute;
                top: 25%;
                left: 55%;
            }

            .lead {
                position: absolute;
                top: 35%;
                left: 55%;
            }

            .title,
            .lead {
                padding-right: 2rem;
            }
        }

        .concept-middle {
            flex-direction: row-reverse;
            position: relative;

            .concept-img2 {
                @include concept-img;
                width: 55%;
                border-radius: 20px 0 0 20px;
                position: absolute;
                z-index: 10;
                top: -6rem;
                right: 0;
            }

            .line3 {
                width: 50%;
                max-height: 25vh;
                position: absolute;
                top: -5rem;
                left: -5rem;
                z-index: 3;
            }

            .title {
                position: absolute;
                top: 30rem;
                left: 20rem;
            }

            .lead {
                position: absolute;
                top: 35rem;
                left: 20rem;
                width: 77rem;
            }
        }

        .concept-bottom {
            margin-top: 50rem;
            padding-bottom: 10rem;
            justify-content: center;
            gap: 3rem;
            margin-inline: 3rem;

            .concept-img3 {
                @include concept-img;
            }

            .title {
                margin-top: 20rem;
                margin-bottom: 2rem;
            }

            .lead {
                width: 60%;
            }
        }


        @include sp {
            margin-inline: 2rem;

            .concept-top,
            .concept-middle,
            .concept-bottom {
                flex-direction: column;
                margin: 0 auto;
                align-items: center;
                padding-bottom: 2rem;

                .line1,
                .line2,
                .line3 {
                    display: none;
                }

                .concept-img1,
                .concept-img2,
                .concept-img3 {
                    @include position-reset;
                    width: 100%;
                    height: 200px;
                    border-radius: 20px;
                    object-fit: cover;
                    padding-block: 1rem;
                }

                .lead,
                .title {
                    @include position-reset;
                    margin: 0 auto;
                    text-align: center;
                    width: 100%;
                }
            }

            .concept-bottom {
                gap: 0;
                padding-bottom: 5rem;
            }
        }
    }
}