@use "mixin" as*;

footer {
    background: url(../img/フッター背景\ \(3\).png) repeat-x top/ contain;
    background-size: auto 100%;

    .footer-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1120px;
        margin: 0 auto;
        align-items: center;
        padding-block: 5rem;

        .store-text {
            text-align: center;
            width: 30%;
            white-space: nowrap;

            .store-name {
                font-size: 2.5rem;
                margin-bottom: 2%;
            }

            .store-options {
                background-color: white;
                border-radius: 50px;
                padding: 3% 4%;
                font-size: 2rem;
            }
        }

        .sns-list {
            display: block;
            font-size: 1.5rem;
            text-align: center;
            width: 30%;

            .sns-list-title {
                margin-bottom: 3%;
                font-size: 2rem;
            }

            .sns {
                display: flex;
                justify-content: center;

                .icon {
                    width: 20%;
                    padding-inline: 2%;
                }
            }
        }

        .menu-list-container {
            display: flex;
            justify-content: space-around;
            width: 30%;

            .menu-list {
                font-size: 2rem;
            }
        }
    }

    .footer-container-sp {
        display: none;
    }

    .to-top {
        position: fixed;
        display: block;
        width: 200px;
        right: 20px;
        bottom: 20px;
        z-index: 30;
    }

    @include sp {
        .footer-container {
            display: none;
        }

        .footer-container-sp {
            display: block;
            margin-inline: auto;
            padding-block: 5rem;
            text-align: center;

            .store-name {
                font-size: 2.5rem;
                padding-bottom: 2rem;
            }

            .store-info {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1.5rem;
                padding-bottom: 1rem;

                .store-options {
                    background-color: white;
                    border-radius: 50px;
                    padding: 1rem 1.5rem;
                    font-size: 1.5rem;
                }

                .sns-list {
                    .sns-list-title {
                        font-size: 1.5rem;
                    }

                    .sns {
                        display: flex;

                        .icon {
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }

            .menu-list {
                display: flex;
                justify-content: center;
                gap: 1rem;
                font-size: 2rem;
            }
        }

        .to-top {
            width: 20rem;
            right: -7rem;
            bottom: 0;
            transform: rotate(-45deg);
        }
    }
}