@use "mixin" as*;

footer {
    position: relative;
    height: 20rem;

    .footer-img {
        display: block;
        width: 100%;
        height: 100%;
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        max-width: 1120px;

        .store-text {
            text-align: center;
            width: 30%;
            white-space: nowrap;

            .store-name {
                font-size: 2rem;
                margin-bottom: 2%;
            }

            .store-options {
                background-color: white;
                border-radius: 50px;
                padding: 3% 4%;
                font-size: 1.5rem;
            }
        }

        .sns-list {
            display: block;
            font-size: 1.5rem;
            text-align: center;
            width: 30%;

            .sns-list-title {
                margin-bottom: 3%;
            }

            .sns {
                display: flex;
                justify-content: center;

                .icon {
                    width: 15%;
                    padding-inline: 2%;
                }
            }
        }

        .menu-list {
            font-size: 1.5rem;
            width: 30%;
            display: flex;
            justify-content: space-around;

        }
    }

    .to-top {
        position: fixed;
        display: block;
        width: 200px;
        right: 20px;
        bottom: 20px;
        z-index: 30;
    }
}