@use "mixin" as*;

.loading {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 999999;
    background-color: white;
    animation: fadeOut 0.5s ease 2.5s forwards;

    .loading-title {
        position: relative;
        font-size: 4rem;
        width: 100%;
        font-family: "Zen Maru Gothic", sans-serif;

        .loading-title-top {
            position: absolute;
            display: inline-block;
            top: 0;
            left: 35%;
        }

        .loading-title-bottom {
            font-weight: bold;
            display: inline-block;
            position: absolute;
            top: 5rem;
            left: 50%;
        }
    }

    .loading-img {
        width: 20%;
        margin-top: 10rem;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}