@use "mixin" as*;

.main-visual {
    height: 70vh;
    display: flex;
    justify-content: space-between;
    position: relative;

    .main-visual-img {
        margin-right: 10rem;

        li {
            position: absolute;
            width: 60%;
            height: 90%;
            top: 0;
            left: 0;
            opacity: 0;
            animation: fade 12s infinite;

            img {
                border-radius: 0 50px 50px 0;
                height: 100%;
                object-fit: cover;
            }

            &:nth-child(1) {
                animation-delay: 0s;
            }

            &:nth-child(2) {
                animation-delay: 4s;
            }

            &:nth-child(3) {
                animation-delay: 8s;
            }
        }
    }

    @keyframes fade {
        0% {
            opacity: 0;
        }

        15% {
            opacity: 1;
        }

        30% {
            opacity: 1;
        }

        45% {
            opacity: 0;
        }

        100% {
            opacity: 0;
        }
    }

    .info-banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 10rem;

        .info-banner-text {
            position: relative;
            display: block;
            text-align: center;
            font-weight: bold;
            background-color: $sub-color;
            filter: drop-shadow(0 0.4rem 0.7rem rgba(0, 0, 0, 0.25));
            width: 30rem;
            padding: 2rem;
            border-radius: 30px;
            margin-bottom: 3rem;

            &::before {
                position: absolute;
                content: "";
                border: 2rem solid transparent;
                border-top: 2rem solid $sub-color;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
            }

            .banner-text {
                display: inline-block;

                &:nth-child(1) {
                    font-size: 2.4rem;
                    margin-bottom: 1rem;
                }

                &:nth-child(2) {
                    display: inline-block;
                    border-bottom: 1px solid black;
                    font-size: 2rem;
                    margin-top: 0;
                }
            }
        }

        .info-banner-img {
            max-width: 30rem;
        }
    }

    @include tab {

        .info-banner {
            justify-content: center;
            margin-right: 5rem;

            .info-banner-img {
                max-width: 20rem;
            }
        }

    }

    @include sp {
        flex-direction: column;

        .main-visual-img {
            width: 100%;

            li {
                width: 100%;
                height: 60%;

                img {
                    width: 100%;
                    border-radius: 1rem;
                }
            }
        }

        .info-banner {
            flex-direction: row;
            justify-content: space-around;
            margin-inline: 5rem;
            padding-right: 6rem;
            
            .info-banner-text {
                position: relative;
                width: 60%;
                border-radius: 10px;

                &::before {
                    position: absolute;
                    content: "";
                    border: 2rem solid transparent;
                    border-left: 2rem solid $sub-color;
                    top: 50%;
                    right: -3rem;
                    left: auto;
                    transform: translateY(-50%);
                }

                .banner-text {
                    display: block;

                    &:nth-child(1) {
                        font-size: 1.5rem;
                        margin-bottom: 1rem;
                    }

                    &:nth-child(2) {
                        border-bottom: 1px solid black;
                        font-size: 1rem;
                        margin-top: 0;
                    }
                }
            }

            .info-banner-img {
                width: 25%;
            }
        }
    }
}