@use "mixin" as*;

.menu-sheet {
    padding: 0;
    overflow: hidden;

    .menu-main-visual {
        background: url(../img/menu-top.jpeg) no-repeat center / cover;
        height: 100vh;
        position: relative;

        .menu-title {
            position: absolute;
            top: 45%;
            left: 15%;
            font-size: 6rem;
            text-shadow: 0 4px rgba(0, 0, 0, 0.25);
        }

        .menu-badge {
            position: absolute;
            top: 60%;
            left: 13%;
            background-color: white;
            border-radius: 50%;
            width: 20rem;
            height: 20rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: 0 4px rgba(0, 0, 0, 0.25);
            font-size: 2.4rem;
        }
    }

    .menu-tart {
        position: relative;

        .section-title {
            @include section-title;
        }

        .tart-img-illust {
            position: absolute;
            width: 10%;
            top: 0;
            right: 0;
            animation: fuwafuwa 3s ease-in-out infinite alternate;
            transition: 1.5s ease-in-out;
        }
    }

    .menu-drink {
        position: relative;

        .section-title {
            @include section-title;
        }

        .drink-img-illust {
            position: absolute;
            width: 10%;
            top: 0;
            left: 0;
            animation: fuwafuwa 3s ease-in-out infinite alternate;
            transition: 1.5s ease-in-out;
        }
    }

    .menu-tart,
    .menu-drink {
        max-width: 1120px;
        margin: 0 auto;
        margin-bottom: 10rem;

        .menu-list {
            display: grid;
            grid-template-columns: repeat(3, clamp(220px, 30vw, 270px));
            grid-template-rows: repeat(2, 300px);
            gap: 10px;
            width: fit-content;
            text-align: center;
            margin: 0 auto;

            .menu-list-item {
                width: 100%;
                padding: 2rem;

                .list-img {
                    width: 20rem;
                    height: 20rem;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-bottom: 2rem;
                }

                .list-title {
                    font-weight: bold;
                    font-size: 1.2rem;
                }
            }
        }

        .pink {
            background-color: $sub-color;
        }

        .cream {
            background-color: $main-color;
        }

        .pink,
        .cream {
            border-radius: 10px;
        }
    }

    @include sp {
        .menu-main-visual {
            height: 50vh;

            .menu-title {
                font-size: 2.5rem;
            }

            .menu-badge {
                font-size: 1.25rem;
                width: 10rem;
                height: 10rem;
            }
        }

        .menu-tart,
        .menu-drink {
            .menu-list {
                display: grid;
                grid-template-columns: repeat(2, 150px);
                grid-template-rows: repeat(3, 200px);
                gap: 20px;
                width: fit-content;
                margin: 0 auto;

                .menu-list-item {
                    padding: 1rem;

                    .list-img {
                        width: 15rem;
                        height: 15rem;
                        margin-bottom: 1rem;
                    }
                }

                .sp-cream {
                    background-color: $main-color;
                }

                .sp-pink {
                    background-color: $sub-color;
                }
            }
        }
    }

    @keyframes fuwafuwa {
        0% {
            transform: translate(0, 0) rotate(-7deg);
        }

        50% {
            transform: translate(0, -7px) rotate(0deg);
        }

        100% {
            transform: translate(0, 0) rotate(7deg);
        }
    }
}