.news-page{
    overflow: hidden;
}

.news-container {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    height: 55vh;

    .news-img {
        width: 30rem;
        height: 30rem;
        border-radius: 50%;
        object-fit: cover;
    }

    .news-content {
        padding-left: 10%;

        .date {
            margin-bottom: 2%;
        }

        .news-title {
            margin-bottom: 1%;
            font-size: 3.6rem;
        }

        .news-text{
            font-size: 1.2rem;
        }

    }

}