@use "mixin" as*;

.news-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100dvh;
}

.news-container {
    flex: 1;
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-bottom: 7rem;

    .news-img {
        width: 30rem;
        height: 30rem;
        border-radius: 50%;
        object-fit: cover;
    }

    .news-content {
        padding-left: 10rem;

        .date {
            margin-bottom: 1rem;
        }

        .news-title {
            margin-bottom: 2rem;
            font-size: 3.6rem;
        }

        .news-text {
            font-size: 1.2rem;
        }
    }

    @include sp {
        flex-direction: column-reverse;
        align-items: center;
        padding-inline: 2rem;

        .news-img {
            width: 15rem;
            height: 15rem;
        }

        .news-content {
            padding-left: 0;
            margin-bottom: 2rem;

            .news-title {
                font-size: 1.5rem;
            }

            .date,
            .news-text {
                text-align: left;
            }
        }
    }
}