// 共通
@use "mixin" as*;
@use "loading" as*;
@use "header" as*;
@use "footer" as*;

// トップページ
@use "main-visual" as*;
@use "main-menu" as*;
@use "concept" as*;
@use "availability" as*;
@use "main-news" as*;
@use "access" as*;

// 下層ページ
@use "menu" as*;
@use "news" as*;

// 基本設定

html {
    width: 100%;
    font-size: 0.782vw;

    @media (min-width:1280px) {
        font-size: 10px;
    }

    @include tab {
        font-size: clamp(8px, 0.98vw, 10px);

    }

    @include sp {
        //  font-size: clamp(8px, 2.67vw, 10px);
        font-size: min(8px);
    }
}

body {
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: $font-color;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $font-color;
    display: inline-block;
}

img {
    width: 100%;
}

section {
    margin-bottom: 10rem;
}


main {
    padding-top: 15rem;
}